@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SBAggroL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  /* color */
  --black-color: #0e0e0e;
  --white-color: #fcfcfc;
  --grey-color: #999;
  --main-color: #764af1;
  --red-color: #ff4949;
  --blue-color: #30afff;
  --back-color: #f4f1e8;
}

body{
  width: 100%;
  background: #ebebeb;
}

#wrap{
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  background: var(--back-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* ==================== PC ==================== */
/* ********** HEADER ********** */
#mo_header{display: none;}

#pc_header{
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
}

#pc_header .logo{
  width: 20%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pc_header .logo img{ /* 로고 */
  height: 50px;
}

#pc_header .gnb{width: 80%;}

#pc_header .gnbmenu{
  display: flex; 
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.250rem;
  font-weight: bold;
}

#pc_header .gnbmenu>li{position: relative;}

#pc_header .gnbmenu>li a{transition: all 0.3s;}

#pc_header .gnbmenu>li:not(.sns) a:before,
#pc_header .gnbmenu>li:not(.sns) a:after{ /* hover 네모 */
  position: absolute;
  right: 21px;
  bottom: 22px;
  width: 8px;
  height: 8px;
  background: var(--main-color);
  content: '';
  opacity: 0;
  transition: all 0.3s;
}
#pc_header .gnbmenu>li:not(.sns):hover a{color: var(--main-color);}

#pc_header .gnbmenu>li:hover a:before{opacity: 1;}

#pc_header .gnbmenu>li:not(.sns){
  padding: 1.9% 3.3% 1.9% 6%;
  border-left: 2px solid var(--black-color);
}

#pc_header .gnbmenu>li.sns{
  border-left: 2px solid var(--black-color);
  padding: 1.9% 2%;
}

#pc_header .gnbmenu>li .sns_in{display: flex;}

#pc_header .gnbmenu>li .sns_in .iconify{
  font-size: 20px;
  font-size: 1.250rem;
  margin: 0 8px;
  vertical-align: middle;
}

#pc_header .gnbmenu>li .sns_in .iconify:nth-child(1),
#pc_header .gnbmenu>li .sns_in .iconify:nth-child(2){
  font-size: 28px;
  font-size: 1.750rem;
}

/* ********** VISUAL ********** */
#visual{
  width: 100%; 
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid var(--black-color);
}

#visual .left_box, .right_box{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-size: 1.250rem;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-evenly;
}

#visual .left_box{ /* 왼쪽 박스 */
  text-align: right;
  border-right: 1px solid var(--grey-color);
  padding-right: 1.6rem;
}

#visual .main_box h2{ /* 가운데 텍스트 */
  font-family: 'SBAggroL';
  font-size: 50px;
  font-size: 3.125rem;
  text-align: center;
}

#visual .main_box h1{ /* 가운데 텍스트: webtrend */
  font-family: 'SBAggroB';
  font-size: 80px;
  font-size: 5.000rem;
  text-transform: uppercase;
}
#visual .main_box h1 span{color: var(--main-color);}

#visual .right_box{ /* 오른쪽 박스 */
  border-left: 1px solid var(--grey-color);
  padding-left: 1.6rem;
}

#visual img{display: none;}

/* ********** SECTION ********** */
section{
  width: 100%;
  max-width: 1200px;
  margin: 10% auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

/* flat design */
/* 1 */
.section1{
  width: 50%;
  max-width: 400px;
  margin-right: 2%;
  overflow: hidden;
}

.section1 p.title{
  width: 100%;
  height: 60px;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-size: 2.188rem;
  font-style: italic;
  text-align: right;
  box-sizing: border-box;
  border-top: 5px solid var(--black-color);
  transition: all 0.3s;
}
.section1:hover p.title{
  border-top: 5px solid var(--red-color);
  color: var(--red-color);
}

.section1 img{
  width: 100%;
  transition: all 0.3s;
}
.section1:hover img{transform: scale(1.03);}

/* 2 */
.section2{
  width: 50%;
  max-width: 400px;
  margin-left: 2%;
  height: 500px;
  border: 2px solid var(--black-color);
  box-sizing: border-box;
  position: relative;
}

.section2 .text_box{padding: 10%;}

.section2 .text_box .main{ /* 메인 텍스트 */
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-size: 1.875rem;
  text-align: center;
  color: #333;
}

.section2 .text_box .main span{
  font-size: 40px;
  font-size: 2.500rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: var(--red-color);
}

.section2 .text_box .sub{ /* 서브 텍스트 */
  font-size: 20px;
  font-size: 1.250rem;
  letter-spacing: -1px;
  line-height: 25px;
  text-indent: 25px;
  text-align: center;
  color: #666;
  margin: 20px;
}

.section2_in{
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
}

.section2_in:before,
.section2_in:after{ /* 그라데이션 박스 */
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 250px;
  background: linear-gradient(to top, #666 30%, transparent);
  z-index: 100;
  display: none;
}

.section2:hover .section2_in:after{display: block;}

.section2 .text_box .more{ /* 더보기 */
  display: none;
  position: absolute;
  bottom: 5%;
  left: 27%;
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-size: 1.750rem;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
  z-index: 200;
}

.section2:hover .text_box .more{display: block;}

.section2 .text_box .more p{
  font-size: 30px;
  font-size: 1.875rem;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
}

/* 3 */
.section3{
  width: 50%;
  max-width: 400px;
  margin-right: 2%;
  margin-top: 15%;
  height: 500px;
  border: 2px solid var(--black-color);
  box-sizing: border-box;
  position: relative;
}

.section3 .text_box{padding: 10%;}

.section3 .text_box .main{ /* 메인 텍스트 */
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-size: 1.875em;
  text-align: center;
  line-height: 30px;
  color: #333;
}

.section3 .text_box .main span{
  font-size: 40px;
  font-size: 2.500rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: var(--main-color);
}

.section3 .text_box .sub{ /* 서브 텍스트 */
  font-size: 20px;
  font-size: 1.250rem;
  letter-spacing: -1px;
  line-height: 25px;
  text-indent: 25px;
  text-align: center;
  color: #666;
  margin: 20px;
}

.section3_in{
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
}

.section3_in:before,
.section3_in:after{ /* 그라데이션 박스 */
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 250px;
  background: linear-gradient(to top, #666 30%, transparent);
  z-index: 100;
  display: none;
}

.section3:hover .section3_in:after{display: block;}

.section3 .text_box .more{ /* 더보기 */
  display: none;
  position: absolute;
  bottom: 5%;
  left: 27%;
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-size: 1.750rem;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
  z-index: 200;
}

.section3:hover .text_box .more{display: block;}

.section3 .text_box .more p{
  font-size: 30px;
  font-size: 1.875rem;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
}

/* 4 */
.section4{
  width: 50%;
  max-width: 400px;
  margin-left: 2%;
  margin-top: 15%;
  overflow: hidden;
}

.section4 p.title{
  width: 100%;
  height: 60px;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-size: 2.188rem;
  font-style: italic;
  text-align: left;
  box-sizing: border-box;
  border-top: 5px solid var(--black-color);
  transition: all 0.3s;
}
.section4:hover p.title{
  border-top: 5px solid var(--main-color);
  color: var(--main-color);
}

.section4 img{
  width: 100%;
  transition: all 0.3s;
}
.section4:hover img{transform: scale(1.03);}

/* card design */
/* 5 */
.section5{
  width: 50%;
  max-width: 400px;
  margin-right: 2%;
  margin-top: 15%;
  overflow: hidden;
}

.section5 p.title{
  width: 100%;
  height: 60px;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-size: 2.188rem;
  font-style: italic;
  text-align: right;
  box-sizing: border-box;
  border-top: 5px solid var(--black-color);
  transition: all 0.3s;
}
.section5:hover p.title{
  border-top: 5px solid var(--blue-color);
  color: var(--blue-color);
}

.section5 img{
  width: 100%;
  transition: all 0.3s;
}
.section5:hover img{transform: scale(1.03);}

/* 6 */
.section6{
  width: 50%;
  max-width: 400px;
  margin-left: 2%;
  margin-top: 15%;
  height: 500px;
  border: 2px solid var(--black-color);
  box-sizing: border-box;
  position: relative;
}

.section6 .text_box{padding: 10%;}

.section6 .text_box .main{ /* 메인 텍스트 */
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-size: 1.750rem;
  text-align: center;
  color: #333;
}

.section6 .text_box .main span{
  font-size: 40px;
  font-size: 2.500rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: var(--blue-color);
}

.section6 .text_box .sub{ /* 서브 텍스트 */
  font-size: 20px;
  font-size: 1.250rem;
  letter-spacing: -1px;
  line-height: 25px;
  text-indent: 25px;
  text-align: center;
  color: #666;
  margin: 20px;
}

.section6_in{
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
}

.section6_in:before,
.section6_in:after{ /* 그라데이션 박스 */
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 250px;
  background: linear-gradient(to top, #666 30%, transparent);
  z-index: 100;
  display: none;
}

.section6:hover .section6_in:after{display: block;}

.section6 .text_box .more{ /* 더보기 */
  display: none;
  position: absolute;
  bottom: 5%;
  left: 27%;
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-size: 1.750rem;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
  z-index: 200;
}

.section6:hover .text_box .more{display: block;}

.section6 .text_box .more p{
  font-size: 30px;
  font-size: 1.875rem;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
}

/* gallery */
.section7{
  width: 100%;
  max-width: 900px;
  margin: 17% auto;
}

.section7 .text_box{text-align: center;}

.section7 .text_box .sub{ /* 서브 텍스트 */
  font-family: 'SBAggroL';
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: -20px;
}

.section7 .text_box .title{ /* 타이틀 */
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-size: 3.750rem;
  text-transform: uppercase;
}

.section7 .gallery{position: relative;}

.section7 .gallery img{ /* 모니터 이미지 */
  width: 100%;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.section7 .image{ /* 사이트 이미지 */
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  max-width: 900px;
  height: 570px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.section7 .image a{
  width: 30%;
  display: flex;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.section7 .image img{height: auto;}

/* lastest post */
.section8{width: 30%;}

.section8 .title{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-size: 2.500rem;
  text-align: center;
  margin-bottom: 3%;
}

.section8 .posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 230px;
  background: #ff8080;
  color: var(--white-color);
  border: 2px solid var(--black-color);
  font-size: 18px;
  font-size: 1.125rem;
  padding: 0 5% 5%;
  position: relative;
}

.section8 .posts li{
  margin-bottom: 6%;
  list-style: square inside;
  border-bottom: 1px dotted var(--white-color);
  transition: all 0.2s;
}
.section8 .posts li:last-of-type{margin-bottom: 0;}
.section8 .posts li:hover{background: var(--red-color);}

/* popular post */
.section9{
  width: 30%;
  margin: 0 2%;
}

.section9 .title{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-size: 2.500rem;
  text-align: center;
  margin-bottom: 3%;
}

.section9 .posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 230px;
  background: #a688f6;
  color: var(--white-color);
  border: 2px solid var(--black-color);
  font-size: 18px;
  font-size: 1.125rem;
  padding: 0 5% 5%;
  position: relative;
}

.section9 .posts li{
  margin-bottom: 6%;
  list-style: square inside;
  border-bottom: 1px dotted var(--white-color);
  transition: all 0.2s;
}
.section9 .posts li:last-of-type{margin-bottom: 0;}
.section9 .posts li:hover{background: var(--main-color);}

/* top searched */
.section10{width: 30%;}

.section10 .title{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-size: 2.500rem;
  text-align: center;
  margin-bottom: 3%;
}

.section10 .search{
  background: #80ceff;
  border: 2px solid var(--black-color);
  height: 230px;
  padding: 0 5% 5%;
}

.section10 input[type=search]{ /* 검색창 */
  width: 100%;
  height: 30px;
  border: 2px solid var(--blue-color);
  border-radius: 15px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10%;
}

.section10 .search ul.terms{  /* 단어 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 145px;
  overflow: scroll;
  display: none; /* -> jQuery */
}

.section10 .search ul li{  /* 단어 박스 */
  padding: 3% 5%;
  margin: 1%;
  background: var(--blue-color);
  transition: all 0.2s;
}
.section10 .search ul li:hover{
  background: #006eb3;
  color: var(--white-color);
}

/* ********** FOOTER ********** */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 80px;
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
}

footer img{height: 50px;}

footer p{
  line-height: 50px;
  text-transform: uppercase;
  margin-left: 5%;
}


/* ==================== TABLET ==================== */
/* 768~1199범위의 해상도 */
@media screen and (min-width: 768px) and (max-width: 1199px){
  #wrap{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  /* ********** HEADER ********** */
  #pc_header{
    width: 100%;
    height: 130px;
    flex-flow: column wrap;
    border-bottom: none;
  }
  
  #pc_header .logo{
    width: 100%;
    height: 75px;
  }
  
  #pc_header .logo img{ /* 로고 */
    height: 60px;
  }
  
  #pc_header .gnb{
    width: 100%;
    border-top: 2px solid var(--black-color);
    border-bottom: 2px solid var(--black-color);
  }

  #pc_header .gnbmenu{height: 50px;}
  
  #pc_header .gnbmenu>li:not(.sns) a:before,
  #pc_header .gnbmenu>li:not(.sns) a:after{ /* hover 네모 */
    display: none;
  }
  
  #pc_header .gnbmenu>li:not(.sns){
    padding: 1.3% 3.3% 1.3% 6%;
    border-left: 2px solid var(--black-color);
  }
  #pc_header .gnbmenu>li:first-of-type{border-left: none;}

  #pc_header .gnbmenu>li.sns{
    padding: 1.1% 2%;
  }
  
  /* ********** VISUAL ********** */
  #visual{height: 380px;}
  
  #visual .left_box, .right_box{
    font-size: 16px;
    font-size: 1.000rem;
    height: 160px;
  }
  
  #visual .main_box h2{ /* 가운데 텍스트 */
    font-size: 40px;
    font-size: 2.500rem;
    text-align: right;
    margin-right: 5%;
  }
  
  #visual .main_box h1{ /* 가운데 텍스트: webtrend */
    font-size: 70px;
    font-size: 4.375rem;
  }

  /* ********** SECTION ********** */
  section{max-width: 100%;}

  /* flat design */
  /* 1 */
  .section1{
    max-width: 350px;
    margin-left: 2%;
  }

  .section1:hover p.title{
    border-top: 5px solid var(--black-color);
    color: var(--black-color);
  }

  .section1 img{
    width: 100%;
    max-width: 350px;
    height: 350px;
  }
  .section1:hover img{transform: scale(1);}

  /* 2 */
  .section2{
    max-width: 350px;
    height: 410px;
    margin-right: 2%;
  }

  .section2 .text_box{padding: 5%;}

  .section2 .text_box .main{ /* 메인 텍스트: is */
    font-size: 25px;
    font-size: 1.563rem;
  }

  .section2 .text_box .main span{
    font-size: 35px;
    font-size: 2.188rem;
  }

  .section2 .text_box .sub{ /* 서브 텍스트 */
    font-size: 16px;
    font-size: 1.000rem;
  }

  .section2_in{height: 410px;}
  .section2:hover .section2_in:after{display: none;}
  .section2:hover .text_box .more{display: none;}

  /* material design */
  /* 3 */
  .section3{
    max-width: 350px;
    height: 410px;
    margin-left: 2%;
  }
  
  .section3 .text_box{padding: 5%;}
  
  .section3 .text_box .main{ /* 메인 텍스트: is */
    font-size: 25px;
    font-size: 1.563rem;
  }
  
  .section3 .text_box .main span{
    font-size: 30px;
    font-size: 1.875rem;
  }
  
  .section3 .text_box .sub{ /* 서브 텍스트 */
    font-size: 16px;
    font-size: 1.000rem;
  }
  
  .section3_in{height: 410px;}
  .section3:hover .section3_in:after{display: none;}
  .section3:hover .text_box .more{display: none;}
  
  /* 4 */
  .section4{
    max-width: 350px;
    margin-right: 2%;
  }
  
  .section4:hover p.title{
    border-top: 5px solid var(--black-color);
    color: var(--black-color);
  }
  
  .section4 img{
    width: 100%;
    max-width: 350px;
    height: 350px;
  }
  .section4:hover img{transform: scale(1);}

  
  /* card design */
  /* 5 */
  .section5{
    max-width: 350px;
    margin-left: 2%;
  }

  .section5:hover p.title{
    border-top: 5px solid var(--black-color);
    color: var(--black-color);
  }

  .section5 img{
    width: 100%;
    max-width: 350px;
    height: 350px;
  }
  .section5:hover img{transform: scale(1);}

  /* 6 */
  .section6{
    max-width: 350px;
    height: 410px;
    margin-right: 2%;
  }

  .section6 .text_box{padding: 5%;}

  .section6 .text_box .main{ /* 메인 텍스트: is */
    font-size: 25px;
    font-size: 1.563rem;
  }

  .section6 .text_box .main span{
    font-size: 35px;
    font-size: 2.188rem;
  }

  .section6 .text_box .sub{ /* 서브 텍스트 */
    font-size: 16px;
    font-size: 1.000rem;
  }

  .section6_in{height: 410px;}
  .section6:hover .section6_in:after{display: none;}
  .section6:hover .text_box .more{display: none;}

  /* gallery */
  .section7 .gallery img{ /* 모니터 이미지 */
    height: 550px;
  }

  .section7 .image{ /* 사이트 이미지 */
    height: 510px;
  }

  .section7 .image a{
    width: 40%;
    margin-top: 30px;
  }

  .section7 .image img{height: auto;}

  /* lastest post */
  .section8{width: 45%; margin: 5% 1.5%;}
  .section8 .posts{padding-top: 5%;}
  .section8 .posts li:hover{background: transparent;}

  /* popular post */
  .section9{width: 45%; margin: 5% 1.5%;}
  .section9 .posts{padding-top: 5%;}
  .section9 .posts li:hover{background: transparent;}

  /* top searched */
  .section10{width: 93%;}
  .section10 .title{margin-bottom: 2%;}
  .section10 .search{padding-top: 5%;}

  .section10 input[type=search]{ /* 검색창 */
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-top: 0;
    font-size: 20px;
    font-size: 1.250rem;
  }

  .section10 .search ul.terms{height: 180px;}

  .section10 .search ul li{  /* 단어 박스 */
    padding: 2% 5%;
    width: 80%;
    margin-left: 5%;
    font-size: 16px;
    font-size: 1.000rem;
  }
}


/* ==================== MOBILE ==================== */
/* 767이하~ 범위의 해상도 */
@media screen and (max-width: 767px){
  #wrap{
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  /* ********** HEADER ********** */
  #pc_header{display: none;}

  #mo_header{
    display: block;
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  #mo_header .mo_top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-top: 2px solid var(--black-color);
    border-bottom: 2px solid var(--black-color);
  }

  #mo_header .mo_top .logo img{height: 50px;} /* 로고 */
  #mo_header .mo_top .toggle_btn{ /* 토글 버튼 */
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 50px;
    font-size: 3.125rem;
    background: var(--main-color);
    color: var(--white-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1%;
    cursor: pointer;
  }

  #mo_header .black_back{ /* 검정 배경 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
  }

  #mo_header .mo_view{ /* 메뉴 창 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 45%;
    height: 100%;
    background: var(--main-color);
    border-top: 2px solid var(--black-color);
    border-bottom: 2px solid var(--black-color);
    color: var(--white-color);
  }

  #mo_header .mo_gnb li{
    padding: 7% 4% 0 0;
    height: 50px;
    font-size: 22px;
    font-size: 1.375rem;
    text-transform: uppercase;
    text-align: right;
    border-bottom: 1px solid var(--white-color);
    transition: all 0.3s;
  }
  
  #mo_header .mo_gnb li.close_btn{ /* 닫기 버튼 */
    font-size: 45px;
    font-size: 2.813rem;
    color: var(--black-color);
    padding: 3%;
    padding-bottom: 15%;
  }

  #mo_header .mo_gnb li:not(.close_btn):hover{
    background: var(--white-color);
    color: var(--main-color);
  }

  #mo_header .mo_sns ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 180px;
    margin-top: 40%;
  }

  #mo_header .mo_sns li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;
    background: var(--white-color);
    color: #333;
    font-size: 18px;
    font-size: 1.125rem;
    transition: all 0.3s;
  }

  #mo_header .mo_sns li:hover{
    background: #4510d5;
    color: var(--white-color);
  }

  #mo_header .mo_sns li .iconify{ /* sns 아이콘 */
    font-size: 25px;
    font-size: 1.563rem;
    vertical-align: middle;
  }

  /* ********** VISUAL ********** */
  #visual{
    height: 200px;
    position: relative;
  }
  
  #visual .left_box, .right_box{display: none;}
  #visual .main_box h2{display: none;}
    
  #visual .main_box h1{ /* 가운데 텍스트: webtrend */
    font-size: 50px;
    font-size: 3.125rem;
  }

  #visual img{ /* bubble */
    display: block;
    position: absolute;
    right: 20%;
    top: 12px;
    height: 60px;
  }
  
  /* ********** SECTION ********** */
  section{
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  /* flat design */
  /* 1 */
  .section1{
    width: 90%;
    max-width: 340px;
    margin: 0;
  }

  .section1:hover p.title{
    border-top: 5px solid var(--black-color);
    color: var(--black-color);
  }

  .section1 img{
    width: 100%;
    max-width: 340px;
    height: 340px;
  }
  .section1:hover img{transform: scale(1);}

  /* 2 */
  .section2{
    width: 90%;
    max-width: 340px;
    height: 340px;
    margin-left: 0%;
    margin-top: 2%;
  }

  .section2 .text_box{padding: 3%;}

  .section2 .text_box .main{ /* 메인 텍스트: is */
    font-size: 25px;
    font-size: 1.563rem;
  }

  .section2 .text_box .main span{
    font-size: 35px;
    font-size: 2.188rem;
  }

  .section2 .text_box .sub{ /* 서브 텍스트 */
    font-size: 15px;
    font-size: 0.938rem;
    margin: 10px;
  }

  .section2_in{height: 340px;}
  .section2:hover .section2_in:after{display: none;}
  .section2:hover .text_box .more{display: none;}

  /* material design */
  /* 3 */
  .section3{
    width: 90%;
    max-width: 340px;
    height: 340px;
    margin-right: 0%;
    margin-top: 25%;
  }

  .section3 .text_box{padding: 3%;}

  .section3 .text_box .main{ /* 메인 텍스트: is */
    font-size: 25px;
    font-size: 1.563rem;
  }

  .section3 .text_box .main span{
    font-size: 35px;
    font-size: 2.188rem;
  }

  .section3 .text_box .sub{ /* 서브 텍스트 */
    font-size: 15px;
    font-size: 0.938rem;
    margin: 10px;
  }

  .section3_in{height: 340px;}
  .section3:hover .section3_in:after{display: none;}
  .section3:hover .text_box .more{display: none;}
  
  /* 4 */
  .section4{
    width: 90%;
    max-width: 340px;
    margin: 0;
    margin-top: 2%;
  }

  .section4:hover p.title{
    border-top: 5px solid var(--black-color);
    color: var(--black-color);
  }

  .section4 img{
    width: 100%;
    max-width: 340px;
    height: 340px;
  }
  .section4:hover img{transform: scale(1);}

  /* card design */
  /* 5 */
  .section5{
    width: 90%;
    max-width: 340px;
    margin-right: 0;
    margin-top: 25%;
  }

  .section5:hover p.title{
    border-top: 5px solid var(--black-color);
    color: var(--black-color);
  }

  .section5 img{
    width: 100%;
    max-width: 340px;
    height: 340px;
  }
  .section5:hover img{transform: scale(1);}

  /* 6 */
  .section6{
    width: 90%;
    max-width: 340px;
    height: 340px;
    margin-left: 0%;
    margin-top: 2%;
  }

  .section6 .text_box{padding: 3%;}

  .section6 .text_box .main{ /* 메인 텍스트: is */
    font-size: 25px;
    font-size: 1.563rem;
  }

  .section6 .text_box .main span{
    font-size: 35px;
    font-size: 2.188rem;
  }

  .section6 .text_box .sub{ /* 서브 텍스트 */
    font-size: 15px;
    font-size: 0.938rem;
    margin: 10px;
  }

  .section6_in{height: 340px;}
  .section6:hover .section6_in:after{display: none;}
  .section6:hover .text_box .more{display: none;}

  /* gallery */
  .section7{
    width: 90%;
    max-width: 800px;
    margin: 25% auto;
  }

  .section7 .text_box .sub{
    font-size: 25px;
    font-size: 1.563rem;
    margin-bottom: -15px;
  }

  .section7 .text_box .title{
    font-size: 45px;
    font-size: 2.813rem;
  }

  .section7 .gallery img{ /* 모니터 이미지 */
    height: 450px;
  }
  
  .section7 .image{ /* 사이트 이미지 */
    height: 410px;
  }
  
  .section7 .image a{
    width: 80%;
    margin-top: 20px;
  }
  
  .section7 .image img{height: auto;}

  /* lastest post */
  .section8{width: 90%; margin: 0%;}

  .section8 .title{
    margin-top: 10%; 
    margin-bottom: 1%;
    font-size: 35px;
    font-size: 2.188rem;
  }

  .section8 .posts{padding-top: 5%;}
  .section8 .posts li{margin-bottom: 4%;}
  .section8 .posts li:hover{background: transparent;}

  /* popular post */
  .section9{width: 90%; margin: 0%;}

  .section9 .title{
    margin-top: 10%; 
    margin-bottom: 1%;
    font-size: 35px;
    font-size: 2.188rem;
  }

  .section9 .posts{padding-top: 5%;}
  .section9 .posts li{margin-bottom: 4%;}
  .section9 .posts li:hover{background: transparent;}

  /* top searched */
  .section10{width: 90%;}

  .section10 .title{
    margin-top: 10%; 
    margin-bottom: 1%;
    font-size: 35px;
    font-size: 2.188rem;
  }

  .section10 .search{padding-top: 5%;}

  .section10 input[type=search]{ /* 검색창 */
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-top: 0;
    font-size: 16px;
    font-size: 1.000rem;
  }

  .section10 .search ul.terms{height: 180px;}

  .section10 .search ul li{  /* 단어 박스 */
    padding: 2% 5%;
    width: 80%;
    margin-left: 5%;
    font-size: 16px;
    font-size: 1.000rem;
  }

  /* ********** FOOTER ********** */
  footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  footer p{
    line-height: 0;
    margin-left: 0;
    text-align: center;
  }

  footer span{
    display: block;
    margin-top: 15px;
  }
}